.resultList {
  margin-top: 43px;
  @include media-breakpoint-up(md) {
    margin-top: 35px;
  }
  @include media-breakpoint-up(lg) {
    margin-top: 90px;
  }
  & h2 {
    font-size: 20px;
    line-height: 29px;
  }
  & .card {
    height: 188px;
    @include media-breakpoint-up(lg) {
      height: 243px;
    }
  }
  & .card-img-top {
    height: 96px;
    @include media-breakpoint-up(lg) {
      height: 137px;
    }
  }
  & .card-title {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
  }
  & .card-footerTitle {
    font-size: 12px;
    line-height: 17px;
    font-weight: 300;
  }
  & .col:nth-child(-n + 8) {
    @include media-breakpoint-up(md) {
      margin-bottom: 27px;
    }
  }
  & .col:nth-child(-n + 5) {
    @include media-breakpoint-up(lg) {
      margin-bottom: 35px;
    }
  }
  & .col:nth-child(n + 2) {
    margin-bottom: 19px;
  }
}