.modalDetail{
  & .card-img-top {
    height: 195px;
    @include media-breakpoint-up(md){
      height: 459px;
    }
  }
  & .card-title {
    font-size: 18px;
    line-height: 26px;
  }
  & p {
    font-size: 14px;
    line-height: 21px;
  }
  & .closeIcon {
    @include media-breakpoint-up(md){
      right: 0;
      top: -10%;
    }
    @include media-breakpoint-up(lg) {
      right: -10%;
      top: 0;
    }
  }
  & .modal-dialog {
    width: 80%;
    margin: 0 auto;
    @include media-breakpoint-up(md){
      max-width: 676px;
      margin: 1.75rem auto;
    }
  }
}